.title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.formCard {
    width: 60%;
    margin: auto;
}

.formInputs {
    margin-bottom: 1rem;
}

.registerButton {
    display: block;
    margin-top: 1rem;
    float: right;
}