.sectionTitle {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.formCard {
    width: 60%;
    margin: auto;
}

.formInputs {
    margin-bottom: 1rem;
}

.inputHidden {
    margin-bottom: 1rem;
    display: none !important;
}

.selHide {
    margin-bottom: 1rem;
    display: none !important;
}

.formError {
    color: red;
    font-size: x-small;
    margin-bottom: 1rem;
}

.productImg:hover {
    cursor: pointer;
}