.breadcumContainer {
    z-index: 20;
}
.breadCardBody{
    padding: 0rem !important;
}
.items{
    display: flex;
    padding: 1rem;
}
@media only screen and (min-width: 1030px) {

    .breadcumContainer {
        z-index: 40;
    }
    .breadCardBody{
        padding: 0rem !important;
    }
}