# Carpeta de dependencias (Node.js)
node_modules/

# Archivos generados por npm o Yarn
package-lock.json
yarn.lock

# Carpeta de archivos generados durante el desarrollo
/public/
/tmp/
.log
npm-debug.log*
yarn-error.log*
